<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>M/bbac/1RWAYARSx60aYF++8ekyZwR8XsKCYDUqk90UykOVF8Be7xrZ22LcXCEYbJK1P7FSKg8K9cn1FVoeiGChG1MQy0pYCpc0AFADxMLjHtVC2BAavaHxiAN+pyqFVWiIva+jPpeX9L0s7moNmj5aajibwz4eNKOHpf85roVWT19XNwqqqclP57VrazqDSdpmdEFR4N4ph3Heub7g7L6IB1M0sevMB24MdoPqF9L+9nUVMNkWspZVMKFG3rivnhgl+D91JLdm53JVP7dbV09li0YkJZOEi3CRZFqW6fUc/VMFUWV+eiPg7Zec2MmnfRnW7q0tbV2YKRT9YDX8KUQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>qyRa4T4xZOo1Ue5U1nNOSRQh7S2dPqwhPJcrqHZC68kw9LGKF3eqk9xu4ZTeqkfc</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>