

<div class="modal" id="defaultModalPrimary" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content card-radius">
            <div class="modal-header">
                <h5 class="modal-title">Ventana-Editor</h5>
                <button id="BtnModal" type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div id="EditorContent" class="modal-body m-3">
                  El Contenido se carga en tienpo de ejecucion 
            </div>
        </div>
    </div>
</div>


