
<section class="m-0  mb-2 mx-xl-5  mt-3 p-2 ">

    <header class="text-white-50 text-center d-flex flex-wrap align-content-center h-100" style="background-color: #1b192e">
        <div class="container-fluid">
            <div class="col-12 d-flex justify-content-end" style="border-color:#ffc107">
                <a class="text-white-50" href="https://www.facebook.com/luis.trobo.3/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-vector-pen" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z" />
                        <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z" />
                    </svg>
                    By Luis Howard
                </a>
            </div>
            
            <div class="row m-4">
                <div class="col-12 col-xl-4">
                    <div>
                        <h1 class=" mb-0 display-1 d-md-block d-none text-white-50 "><bold>Task Time</bold></h1>
                        <h1 class=" mb-0 display-4 d-block d-md-none text-white-50"><bold>Task Time</bold></h1>
                        <p class="text-cente mt-0 text-white-50">for People In Motion</p>
                    </div>
                </div>

                <div class="col-8" style="background-image:url(../../Content/img/undraw_online_payments_luau.svg); background-size:cover">
                </div>
                <div class=" mt-2 col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div class="insert-div card-radius border">
                        <div class="d-flex justify-content-center">
                            <div id="div-form">
                                @Html.Partial("_Create", new TaskViewValidation())
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end" style="border-color:#ffc107">
                <a class="text-white-50" href="#tab-contend">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
                    </svg>
                </a>
            </div>
        </div>
    </header>

</section>
<br />
<br />